body {
    background-color: #F9F6F2;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.comuneedy {
    color: #72383D;
    font-size: 40px;
    font-family: "Bell MT", serif;
    position: absolute;
    top: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 50px; /* Added margin to lower the container */
}

.contact-methods, .send-message {
    background-color: #F9F6F2;
    /*border: 1px solid black;*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 45%; /* Adjust width as needed */
    margin-top: 20px; /* Added margin to separate the containers */
}

.header {
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    font-size: 44px;
    color: #72383D;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-icon {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 40px;
    height: auto;
}

h3 {
    font-size: 44px;
    color: #72383D;
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #72383D;
}

button {
    background-color: #72383D;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #9CABB4;
}
