body {
    background-color: #F9F6F2;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.contact-methods-main, .send-message {
    background-color: #F9F6F2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    margin-top: 50px;
}

.contact-header {
    text-align: left;
    margin-bottom: 20px;
}

h2 {
    font-size: 44px;
    color: #72383D;
}

.contact-item-main {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-icon {
    width: 40px;
    height: auto;
    margin-right: 20px;
}

.contact-link-main {
    color: black;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon-main {
    width: 40px;
    height: auto;
}

h3 {
    font-size: 44px;
    color: #72383D;
    margin-bottom: 20px;
}

.input-container {
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #72383D;
}

button {
    background-color: #72383D;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #9CABB4;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.input-error {
    border-color: red;
}

/* Large desktop screens */
@media only screen and (min-width: 1200px) {
    .container {
        padding: 20px 100px;
    }
    .contact-methods-main, .send-message {
        width: 45%;
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .container {
        padding: 20px 50px;
    }
    .contact-methods-main, .send-message {
        width: 50%;
    }
}

/* Tablets*/
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .contact-methods-main, .send-message {
        width: 90%;
    }
}

/* Mobile phones */
@media only screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .contact-methods-main, .send-message {
        width: 90%;
    }
    h2, h3 {
        font-size: 32px;
    }
    .contact-item-main {
        font-size: 18px;
    }
}

