body {
    background-color: #F9F6F2;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.comuneedy {
    color: #72383D;
    font-size: 40px;
    font-family: "Bell MT", serif;
    position: absolute;
    top: auto;
}

.container {
    max-width: 800px;
    margin: 100px auto 50px;
    padding: 20px;
    background-color: #BFD7B5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.request-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.request-item {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.request-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.request-item p {
    font-size: 16px;
    margin: 5px 0;
}

button {
    background-color: #72383D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #9CABB4;
}

.back-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.back-button img {
    width: 50px;
    height: auto;
}

.back-button p {
    font-size: 16px;
    margin-top: 5px;
}
