{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('forgotPassword.static', filename='css/Forgot_Password_Page.css') }}">
{% endblock %}
{% block content %}
<div class="forgot-password">
   <h1>Forgot Password</h1>
   {% if error_message %}
   <div class="error-message">{{ error_message }}</div>
   {% endif %}
   <form id="forgotPasswordForm" method="POST" action="{{ url_for('forgotPassword.forgot_password') }}">
       <div class="input-container">
           <label for="email">Enter your email</label>
           <input type="email" id="email" name="email" required>
       </div>
       <div class="input-container">
           <label for="securityQuestion">What is the name of the elementary school you attended?</label>
           <input type="text" id="securityQuestion" name="securityQuestion" required>
       </div>
       <button type="submit">Submit</button>
   </form>
</div>
{% endblock %}