body {
   font-family: 'Heebo', sans-serif;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}


.container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   min-height: 100vh;
}


.content {
   background-color: #F9F6F2;
   padding: 40px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 800px;
   margin: 20px auto;
}


h1 {
   font-size: 2.25em;
   margin-bottom: 20px;
   text-align: center;
}


form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
}


.input-container {
   width: 100%;
   margin-bottom: 20px;
   text-align: left;
}


.input-container p {
   font-size: 0.75em;
   font-weight: bold;
   color: black;
   margin: 5px 0;
}


label {
   font-size: 1em;
   font-weight: bold;
   margin-bottom: 5px;
   display: block;
}


input[type="text"],
input[type="email"],
textarea,
select,
input[type="date"] {
   width: 100%;
   border: none;
   background: #F9F6F2;
   border-bottom: 3px solid black;
   margin-top: 5px;
   padding: 10px;
   box-sizing: border-box;
}


button {
   background-color: #72383D;
   color: white;
   border: none;
   padding: 15px 25px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1.125em;
   align-self: center;
   margin-top: 20px;
}


button:hover {
   background-color: #9CABB4;
}


.home-button {
   position: fixed;
   bottom: 20px;
   right: 20px;
   text-align: center;
}


.home-button img {
   width: 50px;
   height: auto;
}


@media only screen and (max-width: 600px) {
   .container {
       padding: 10px;
   }


   .content {
       padding: 20px;
   }


   h1 {
       font-size: 1.75em;
   }


   input[type="text"],
   input[type="email"],
   textarea,
   select,
   input[type="date"] {
       padding: 8px;
   }


   button {
       padding: 12px 20px;
       font-size: 1em;
   }
}

