* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #F9F6F2;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #000000;
    color: #A2C4D9;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-family: "Bell MT", serif;
    font-size: 45px;
}

.footer-slogan {
    font-family: "Bell MT", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.contact-method {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 10px;
}

.contact-item {
    margin-bottom: 10px;
}

.contact-item p {
    margin: 0;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.contact-link {
    color: #A2C4D9;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Large desktop screens */
@media only screen and (min-width: 1200px) {
    .footer {
        padding: 20px 50px;
    }
    .footer-content {
        flex-direction: row;
    }
    .footer-slogan {
        font-size: 20px;
    }
}

/* Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer {
        padding: 15px 30px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
    }
    .footer-slogan {
        font-size: 18px;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
        padding: 15px 20px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
    }
    .footer-title {
        font-size: 36px;
    }
    .footer-slogan {
        font-size: 16px;
    }
}

/* Mobile phones */
@media only screen and (max-width: 767px) {
    .footer {
        padding: 10px;
        flex-direction: column;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-title {
        font-size: 30px;
        text-align: center;
    }
    .footer-slogan {
        font-size: 14px;
        text-align: center;
    }
    .footer-right {
        margin-top: 10px;
        text-align: center;
    }
    .contact-item {
        text-align: center;
    }
}
