* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9F6F2;
    font-family: 'Heebo', sans-serif;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #A2C4D9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.comuneedy {
    color: #72383D;
    font-size: 40px;
    font-family: "Bell MT", serif;
}

.comuneedy a {
    color: #72383D;
    text-decoration: none;
}

.navbar {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.navbar a {
    color: #72383D;
    text-decoration: none;
    font-size: 18px;
}

.login-button {
    border: 1px solid #72383D;
    border-radius: 5px;
    padding: 5px 10px;
    color: #72383D;
    font-size: 18px;
}

.login-button:hover {
    background-color: #72383D;
    color: #F9F6F2;
}

@media (max-width: 1200px) {
    .header {
        align-items: flex-start;
        padding: 20px;
    }

    .navbar {
        align-items: flex-start;
        margin-top: 10px;
    }

    .comuneedy {
        font-size: 30px;
    }

    .navbar a {
        font-size: 14px;
    }

    .login-button {
        padding: 3px 8px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .comuneedy {
        font-size: 30px;
    }

    .navbar {
        align-items: flex-start;
        gap: 10px;
    }

    .navbar a {
        font-size: 14px;
    }

    .login-button {
        padding: 3px 8px;
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }


    .comuneedy {
        font-size: 22px;
    }

    .navbar {
        align-items: flex-start;
        gap: 5px;
    }

    .navbar a {
        font-size: 10px;
    }

    .login-button {
        padding: 3px 8px;
        font-size: 12px;
    }


}
