{% extends 'base.html' %}

{% block title %}ComuNeedy - Home Page{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('homePage.static', filename='css/Home_Page.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="welcome-section">
        <div>
            <h2>Welcome {% if first_name %}{{ first_name }}{% endif %} to ComuNeedy</h2>
            <p>Connecting individuals in need with those who have the ability and willingness to help, while promoting a community built on support, kindness, and goodwill.</p>
            {% if not session.get('logged_in') %}
                <a href='/register' class="join-button">JOIN US TODAY</a>
            {% endif %}
        </div>
        <div class="holding-hands-icon">
            <img src="{{ url_for('static', filename='media/img/holding hands.png') }}" alt="Holding Hands Icon">
        </div>
    </div>

    <hr class="separator">

    <div class="about-section">
        <h3>About Us</h3>
        <p>ComuNeedy is more than just a platform; it's a community-driven initiative dedicated to fostering connections between those seeking help and those offering assistance. Our mission is to simplify the process of finding support or volunteering, creating a space where kindness and goodwill flourish. By leveraging technology, we empower individuals and organizations to make a meaningful impact in their communities.</p>
    </div>

    <hr class="separator">

    <div class="how-it-works-section">
        <h3>How It Works?</h3>
        <div class="timeline">
            <div class="timeline-step">
                <div class="timeline-icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <div class="timeline-content">
                    <p>Connect to the site</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-icon">
                    <i class="fas fa-tasks"></i>
                </div>
                <div class="timeline-content">
                    <p>Open your request list</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-icon">
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="timeline-content">
                    <p>Open a new request</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-icon">
                    <i class="fas fa-user-clock"></i>
                </div>
                <div class="timeline-content">
                    <p>After opening the application, a volunteer is assigned according to availability, while we are trying to take into account the preferences of the application</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-icon">
                    <i class="fas fa-hand-holding-heart"></i>
                </div>
                <div class="timeline-content">
                    <p>The volunteer comes and helps with what he needs</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ url_for('homePage.static', filename='js/Home_Page.js') }}"></script>
{% endblock %}
