{% extends "base.html" %}

{% block title %}New Request{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('newRequest.static', filename='css/New_Request_Page.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <h1>New Request</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form id="newRequestForm" method="POST" action="{{ url_for('newRequest.new_request') }}">
            <div class="input-container">
                <label for="serviceArea">Service Area:</label>
                <select id="serviceArea" name="serviceArea" required>
                    <!-- Options updated dynamically from JavaScript -->
                </select>
            </div>
            <div class="input-container">
                <label for="service-type">Type of Service:</label>
                <select id="service-type" name="service-type" required>
                    <option value="">Select service type</option>
                    <!-- Options updated dynamically from JavaScript -->
                </select>
            </div>
            <div class="input-container">
                <label for="service-description">Service Description:</label>
                <textarea id="service-description" name="service-description" placeholder="Enter a verbal explanation of the requested service" required></textarea>
            </div>
            <div class="input-container">
                <label for="available-dates-start">Available Dates (Start):</label>
                <input type="date" id="available-dates-start" name="available-dates-start" required>
            </div>
            <div class="input-container">
                <label for="available-dates-end">Available Dates (End):</label>
                <input type="date" id="available-dates-end" name="available-dates-end" required>
            </div>
            <button type="submit">Submit Request</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ url_for('newRequest.static', filename='js/New_Request_Page.js') }}" defer></script>
{% endblock %}