body {
    background-color: #F9F6F2;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
    margin-bottom: 150px;
}

.content {
    background-color: #FFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    max-width: 600px;
}

.service-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.note-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

.volunteer-details {
    text-align: left;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.volunteer-details p {
    font-size: 18px;
    margin: 2px 0;
    font-weight: bold;
}

.input-container {
    width: 80%;
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #72383D;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    margin-top: 20px;
}

button:hover {
    background-color: #9CABB4;
}

.star-rating {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.star {
    cursor: pointer;
    color: #e0e0e0;
    transition: color 0.25s;
    font-size: 50px;
}

.star.selected,
.star:hover,
.star.active {
    color: #f39c12;
}

/* Large desktop screens */
@media only screen and (min-width: 1200px) {
    .content {
        width: 50%;
    }
}

/* Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .content {
        width: 60%;
    }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        width: 80%;
        max-width: 800px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
    }
}

/* Mobile phones */
@media only screen and (max-width: 767px) {
    .content {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-y: auto;
    }

    .input-container {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
