<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- Header -->
     <div class="header">
        <div class="comuneedy">
            <a href="/">ComuNeedy</a>
        </div>
        <div class="navbar">
            {% if session.get('logged_in') %}
                <a href="{{ url_for('profile.Profile_Page') }}">Profile</a>
                <a href="{{ url_for('myRequests.my_requests') }}">My Requests</a>
                <a href="/volunteers">Volunteers</a>
                <a href="/contact">Contact Us</a>
                <a href="{{ url_for('signIn.logout') }}" class="login-button">Logout</a>
            {% else %}
                <a href="/volunteers">Volunteers</a>
                <a href="/contact">Contact Us</a>
                <a href="{{ url_for('signIn.Sign_In_Page') }}" class="login-button">Login</a>
            {% endif %}
        </div>
    </div>

    <!-- Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-left">
            <div class="footer-title">ComuNeedy</div>
            <div class="footer-slogan">Stay in touch, we are here for you</div>
        </div>
        <div class="footer-right">
            <div class="contact-method">
                <div class="contact-item">
                    <div class="social-links">
                        <a href="https://www.facebook.com" target="_blank"><img src="{{ url_for('static', filename='media/img/facebook icon.png') }}" alt="Facebook" class="social-icon"></a>
                        <a href="https://www.instagram.com" target="_blank"><img src="{{ url_for('static', filename='media/img/instagram icon.png') }}" alt="Instagram" class="social-icon"></a>
                        <a href="https://www.linkedin.com" target="_blank"><img src="{{ url_for('static', filename='media/img/linkdin icon.png') }}" alt="LinkedIn" class="social-icon"></a>
                    </div>
                </div>
                <div class="contact-item">
                    <p><strong>Phone:</strong> +1-800-123-4567</p>
                </div>
                <div class="contact-item">
                    <p><strong>Email:</strong> <a href="mailto:support@comuneedy.com" class="contact-link">support@comuneedy.com</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='Home Page.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
