{% extends 'base.html' %}


{% block title %}Forgot Password{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='Forgot Password Page.css') }}">
{% endblock %}


{% block content %}
<div class="forgot-password">
   <h1>Forgot Password</h1>
   <form id="forgotPasswordForm">
       <div class="input-container">
           <label for="email">Enter your email</label>
           <input type="email" id="email" name="email" required>
       </div>
       <div class="input-container">
           <label for="securityQuestion">What is the name of the elementary school you attended?</label>
           <input type="text" id="securityQuestion" name="securityQuestion" required>
       </div>
       <button type="submit">Submit</button>
   </form>
   <div id="message"></div>
</div>
{% endblock %}


{% block javascripts %}
<script src="{{ url_for('static', filename='Forgot Password Page.js') }}"></script>
{% endblock %}

