{% extends 'base.html' %}


{% block title %}User Profile{% endblock %}


{% block css %}
   <link rel="stylesheet" href="{{ url_for('static', filename='Profile Page.css') }}">
{% endblock %}


{% block content %}
   <div class="container">
       <div class="profile-header">
           <div class="profile-picture">
               <img src="{{ url_for('static', filename='profile icon.png') }}" alt="Profile Picture">
           </div>
           <h1>My Profile</h1>
       </div>
       <div class="profile-section">
           <h2>Personal Information</h2>
           <div class="personal-info">
               <p><strong>First Name:</strong> John</p>
               <p><strong>Last Name:</strong> Doe</p>
               <p><strong>Email:</strong> john.doe@example.com</p>
               <p><strong>Phone Number:</strong> +1234567890</p>
               <button id="editProfileButton">Edit Profile</button>
           </div>
       </div>
   </div>
{% endblock %}


{% block javascripts %}
   <script src="{{ url_for('static', filename='Profile Page.js') }}"></script>
{% endblock %}

