{% extends "base.html" %}

{% block title %}Request Details{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='Request Details.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 id="requestTitle">#{{ request_id }} Request Details</h1>

    <div class="grid-container">
        <div class="grid-item">
            <strong class="category-title">Type of Request</strong>
            <br>
            <span class="detail-text" id="requestType"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Description</strong>
            <br>
            <span class="detail-text" id="requestDescription"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Status</strong>
            <br>
            <span class="detail-text" id="requestStatus"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Date of Application</strong>
            <br>
            <span class="detail-text" id="applicationDate"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Applicant Name</strong>
            <br>
            <span class="detail-text" id="applicantName"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Contact Email</strong>
            <br>
            <span class="detail-text" id="contactEmail"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Contact Phone</strong>
            <br>
            <span class="detail-text" id="contactPhone"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Volunteer Assigned</strong>
            <br>
            <span class="detail-text" id="volunteerAssigned"></span>
        </div>
        <div class="grid-item">
            <strong class="category-title">Completion Date</strong>
            <br>
            <span class="detail-text" id="completionDate"></span>
        </div>
    </div>
    <div id="reviewButtonContainer" class="review-button-container">
        <button id="writeReviewButton" class="write-review-button" style="display: none;">Write a Review</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ url_for('static', filename='Request Details.js') }}"></script>
{% endblock %}
