{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block css %}
   <link rel="stylesheet" href="{{ url_for('register.static', filename='css/Register_Page.css') }}">
{% endblock %}
{% block content %}
   <!-- Registration form -->
   <div class="container">
       <div class="left-section">
           <h1>Create New Account</h1>
           <h2>Join a Community That Feels Like Family</h2>
           <form id="registerForm">
               <div class="input-container">
                   <label for="firstName">First Name</label>
                   <input type="text" id="firstName" name="firstName" required>
               </div>
               <div class="input-container">
                   <label for="lastName">Last Name</label>
                   <input type="text" id="lastName" name="lastName" required>
               </div>
               <div class="input-container">
                   <label for="email">Email</label>
                   <input type="email" id="email" name="email" required>
               </div>
               <div class="input-container">
                   <label for="phoneNumber">Phone Number</label>
                   <input type="tel" id="phoneNumber" name="phoneNumber" required>
               </div>
               <div class="input-container">
                   <label for="securityQuestion">What is the name of the elementary school you attended?</label>
                   <input type="text" id="securityQuestion" name="securityQuestion" required>
               </div>
               <div class="input-container">
                   <label for="password">Password</label>
                   <input type="password" id="password" name="password" required>
               </div>
               <div class="input-container">
                   <label for="confirmPassword">Confirm Password</label>
                   <input type="password" id="confirmPassword" name="confirmPassword" required>
               </div>
               <button type="submit">Register</button>
           </form>
       </div>
   </div>
   <!-- New loading container -->
   <div id="loadingContainer" style="display: none;">
       <div class="loading-circle"></div>
       <p id="loadingMessage"></p>
       <img id="statusIcon" style="display: none;" alt="Status">
   </div>
{% endblock %}
{% block javascripts %}
   <script src="{{ url_for('register.static', filename='js/Register_Page.js') }}"></script>
{% endblock %}